body
{
background-image: url(white-waves.png);
}
#glowny1
{
	margin-top:20px;
	margin-bottom: 100px;
	width:50%;
	height:620px;
    background-image: url(smog.jpg);
	background-size:cover;
	float: left;
}
#glowny2
{
	
	margin-top:20px;
	margin-bottom: 100px;
	width:50%;
	height:620px;
    background-image: url(kraj.jpg);
	background-size:cover;
	float: left;
}
#tytul
{
    font-family: 'Charm', cursive;
	text-align:center;
	font-size:40px;
	letter-spacing:5px;
	padding: 5px;
	color: #0000FF;
	width:600px;
	height:50px;
	float: left;
}
#zegar
{
	font-family: 'Anton', sans-serif;
	letter-spacing:3px;
	color: #009900;
	text-align:center;
	font-size:20px;
	padding: 5px;
	line-height:300%;
	width:300px;
	height:50px;
	float: left;
}
#data
{
	font-family: 'Anton', sans-serif;
	letter-spacing:3px;
	color: #009900;
	text-align:center;
	padding: 5px;
	line-height:300%;
	font-size:20px;
	width:300px;
	height:50px;
	float: left;
}

.czujnik1
{
	font-size:30px;
	color:#CC0000;
	text-align:center;
	padding:20px;
	height:40px;
	width: 310px;
	margin-top:20px;
	margin-left:150px;
	background-color:#6699FF;
	opacity:0.8;
}
.czujnik1:hover
{
	background-color:#4477DD;
	-webkit-box-shadow: 5px 5px 67px 1px rgba(5,21,102,1);
    -moz-box-shadow: 5px 5px 67px 1px rgba(5,21,102,1);
    box-shadow: 5px 5px 67px 1px rgba(5,21,102,1);
}
#stopka
{
	text-align:center;
}
a.poprawka
{
	text-align:center;
	color:#99FF00;
	text-decoration:none;
}
#odczytGlowny
{
	font-family: 'Anton', sans-serif;
	font-size:30px;
	color:#CC0000;
	text-align:center;
	line-height:200%;
	padding:20px;
	height:450px;
	width: 350px;
	margin-top:65px;
	margin-left:150px;
	background-color:#6699FF;
	opacity:0.8;
}
#odczytCzujnik
{
	font-family: 'Anton', sans-serif;
	font-size:30px;
	color:#CC0000;
	text-align:center;
	line-height:250%;
	letter-spacing:3px;
	padding:20px;
	height:150px;
	width: 350px;
	margin-top:150px;
	margin-left:150px;
	background-color:#6699FF;
	opacity:0.8;
}
#wyniki
{
	font-family: 'Anton', sans-serif;
	font-size:30px;
	color:#CC0000;
	text-align:center;
	padding:20px;
	height:40px;
	width: 350px;
	margin-top:20px;
	margin-left:150px;
	background-color:#6699FF;
	opacity:0.8;
}